<h1>Add migrant</h1>
<form action="/migrant/add" method="post">
  <div class="form-group">
    <label for="refNum">Reference No.</label>
    <input class="form-control" value="" name="refNum" id="refNum"/>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" value="" name="name" id="name"/>
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input value="" name="address" class="form-control" id="address"/>
  </div>

  <div class="form-group">
    <label for="district">Present district:</label>
    <select id="district" name="district" class="form-control">
      <option selected="true" value="" disabled>Select district</option>
    </select>
  </div>

  <div class="form-group">
    <label for="state">Present State:</label>
    <select id="state" name="state" class="form-control">
      <option selected="true" disabled>Choose state/union territory</option>
      {{#each states}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>


  <div class="form-group">
    <label for="phoneNum">Phone:</label>
    <input value="000" name="phoneNum" class="form-control" id="phoneNum"/>
  </div>
  <div class="form-group">
    <label for="verification">Verification:</label>
    <input value="" name="verification" class="form-control" id="verification"/>
  </div>

  <div class="form-group">
    <label for="circle">Revenue Circle:</label>
    <select id="circle" name="circle" class="form-control">
      <option selected="true" disabled>Choose revenue circle</option>
      {{#each circles}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<script>
  $(document).ready(function() {
    $('#state').change(function() {
      var $dropdown = $(this);
      var $district = $("#district");

      var state = $dropdown.val();

      if (state) {
//        console.log("selected state: " + state);
        $.getJSON("/migrant/get-districts/"+state, function(data) {
	  $district.empty();
	  if (data) {
	    $.each(data.districts, function(index, value) {
	      $district.append('<option value="' + value + '">' + value + '</option>');
	    });
//	    console.log("got json data:" + JSON.stringify(data));
	  } else {
	    console.log("got empty json data for state " + state);
	  }
	});
      } else {
        $('#district').html('<option selected="true" disabled>Choose district</option>');
      }
    });
  });
</script>
