<h1>Migrant Details</h1>


<h3>Circles</h3>
<div class="list-group">
  <a href="/migrant/list" class="list-group-item">All circles</a>
  {{#each circles}}
    <a href="/migrant/list/{{this}}" class="list-group-item">{{this}}</a>
  {{/each}}
</div>
